/* contents */

/* 공통 alert confirm */
.btn_guide{display:inline-block;font-size:rem(16);padding:rem(15) rem(30);border:1px solid #ddd;}
.design_modal_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;min-width:rem(280);overflow:hidden;display:none;}

.design_modal_wrap.active{display:block;}
.design_modal_wrap.active.motion .bg_design_modal{background:rgba(0,0,0,.65);}
.design_modal_wrap.active.motion .design_modal{transform:translateY(0);opacity:1;}
.bg_design_modal{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0);z-index:0;transition:.5s;}
.design_modal_tb{display:table;width:100%;height:100%;table-layout: fixed;z-index:5;position:absolute;top:0;left:0;}
.design_modal_td{display:table-cell;vertical-align: middle;padding:rem(28);}
.design_modal_w{display:flex;justify-content: center;align-items: center;width:100%;height:100%;box-sizing: border-box;padding:rem(20)}
.design_modal{position:relative;transform:translateY(-50%);transition:.5s;opacity:0;min-width:rem(224);width:100%;max-width:rem(320);margin:0 auto;}
.design_modal_cont_w{display:flex;align-items: center; justify-content: center;padding:rem(42);min-height:rem(120);box-sizing: border-box;background:#fff; border-radius:rem(16) rem(16) 0 0;}
.design_modal_text{text-align: center;color:#000000;}

.modal_message_title{font-size:rem(18);margin-bottom:rem(15);}
.modal_message_text{font-size:rem(13.3);}

.btn_dmsm_wrap{display:flex;align-items: center;justify-content: center;text-align:center;border-radius: 0 0 rem(16) rem(16);overflow:hidden;}
.btn_dmsm{height:rem(56.6);flex:0;display:flex;align-items: center;font-weight:500;padding:0 rem(38);justify-content: center;font-weight: 350;background: #e8e8e8;color:#000; white-space: nowrap; font-size:rem(16);
    &.btn_main{flex:1;background: linear-gradient(93.54deg, #B754C4 6.24%, #3F4BFF 97.06%);color:#fff; }
}



/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:rem(280);overflow:hidden;flex-wrap:wrap;
    &.type2{align-items: flex-end;overflow: hidden;
        .popup_item{background-color:transparent;}
    }
}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:100%;height:100%; min-height:100vh; background:#fff; position:relative; display:flex; flex-direction: column;flex-wrap:wrap;min-height:0;
    width:100%;opacity:0;transition:.4s; transform: translateY(50%);
}
.bg_dim{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:0;opacity:0;transition:.4s;}
.popup_titlelow{text-align:center;flex:0 0 rem(60);display:flex;align-items: center;justify-content: center;box-sizing: border-box;}
.botpos_vbtnlow{text-align:center;flex:0 0 rem(56.6);display:flex;align-items: center;justify-content: center;box-sizing: border-box;}
.popup_btnlow{text-align:center;flex:0 0 rem(56.6);display:flex;align-items: center;justify-content: center;box-sizing: border-box;}
.popup_title{line-height:1;color:#000;display:inline-block;font-size:rem(18);padding:0 rem(60);}
.popup_contentlow{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:rem(12);color:#333333;padding-bottom:rem(66.66666666666667);
    &.type2{
        display:flex;align-items: center;justify-content: center;
    }
}
.pcont_wrap{}
.pcont_inwrap{
    padding:0;
    &.type2{padding:rem(33) rem(20) 0}
}
.popup_wrap.active{display:flex}
.popup_wrap.active.motion .popup_item{opacity:1;transform: translateY(0);}
.popup_wrap.active.motion .bg_dim{opacity:.6;}
.popup_wrap.active.motion .botpos_vlayer{transform:translateY(0);}
.botpos_vlayer{background:#fff;width:100%;max-height:100%;border-radius: rem(16.6) rem(16.6) 0px 0px;transform:translateY(100%);transition:.4s;position:relative;z-index:15;box-sizing: border-box;display:flex;flex-direction: column;
    .popup_close{height:rem(70);}
}
.botpos_vtitlow{padding:rem(26.6) rem(70) rem(26.6) rem(20);flex:0;display:flex;min-height:rem(70);align-items: center;box-sizing: border-box;}
.botpos_vtit{font-size:rem(18);line-height:1;color:#000}
.botpos_vcontlow{position:relative;overflow:hidden;padding:rem(6) rem(20) rem(40);flex:1;display:flex; flex-direction: column;
    overflow-y:auto;
    &.type2{padding:rem(12) rem(20) rem(60);}
    &.type3{padding-top:0;}
    > *{width:100%;}
}
.btn_vsubmit_fxwrap{display:flex;align-items: center;height:rem(56.6);width:100%;-webkit-appearance: none;appearance: none;}
.btn_vsubmit{
    flex:1;display:flex;width:100%;height:100%;position:relative;justify-content:center;align-items:center;text-align: center;font-size:0;line-height:0;background: linear-gradient(93.54deg, #B754C4 6.24%, #3F4BFF 97.06%);
    vertical-align: top;appearance: none;-webkit-appearance:none;
    &:disabled{opacity: 0.5;}

    &.type2{
        background:#fff;
        &:before{display:block;content:'';background:rgba(0, 0, 0, 0.3);height:1px;position:absolute;top:0;left:0;width:100%;}
        .btn_vsubmit_in{color:#000;}
    }
}
.btn_vsubmit_in{display:inline-block;font-size:18px;color:#fff;line-height:1;}
@media(max-width:1023px){
    
}

/* component */
.list_top_wrap{
    display:flex;align-items: center;line-height:0;justify-content: space-between;margin-bottom:rem(25);
}
.list_top_main{

}
.list_top_title{font-size:rem(20);line-height:1;color:#fff;}
.list_top_sub{}

.btn_listmore{
    display:block;position:relative;width:rem(21.66666666666667);height:rem(21.66666666666667);
    &:before,
    &:after{display:block;content:'';width:100%;height:rem(1);background:#fff;position:absolute;top:50%;left:0;margin:rem(-0.5) 0 0 0;}
    &:before{}
    &:after{transform: rotate(90deg);}
}
.boxitem_list_wrap{}
.boxitem_list{
    display:flex;flex-wrap:wrap;margin:rem(-6.666666666666667);min-height:0;
    > li{
        padding:rem(6.666666666666667);box-sizing:border-box;width:50%;flex:0 0 50%;
        &:last-of-type{}
        &.nodata_li{
            flex:1 !important;width:100% !important;text-align: center;padding:rem(120) rem(20);display:flex;align-items: center;justify-content: center;
        }
    }
}
.boxitem_obj{
    background:#fff;box-sizing: border-box; border:1px solid #999999;min-height:rem(153.3333333333333);position:relative;
}
.boxitem_count_row{
    padding:rem(17) rem(13.33333333333333) rem(50);
    .count_label,
    .count_value{display:inline;line-height:1;font-size:rem(20);}
    .count_label{margin-right:rem(6.666666666666667);font-weight: 300;}
    .count_value{font-weight:500;font-family: 'Pretendard';}
}
.boxitem_menu_row{
    flex:0;
}
.boxitem_menu_list{
    display:flex;align-items:center;position:absolute;bottom:rem(16.66666666666667);left:0;width:100%;box-sizing:border-box; padding:0 rem(6);
    > li{
        flex:1; position:relative;padding:0 rem(10);
        &:last-of-type{
            &:after{display:none;}
        }
        &:after{display:block;content:'';width:1px;height:rem(11.66666666666667);background:#D9D9D9;position:absolute;top:50%;right:0;transform: translateY(-50%);}
        .ico_menu{margin:0 auto;}
    }
}
li{
    &.nodata_li{
        flex:1 !important;width:100% !important;text-align: center;
    }
}
.nodata_para{}
.ico_menu{
    display:block;width:rem(26.66666666666667);height:rem(26.66666666666667);
    background-repeat:no-repeat;background-size:100% auto;background-position:50% 50%;
    &.ico_modify{background-image:url("../images/ico_modify.png");width:rem(30)}
    &.ico_del{background-image:url("../images/ico_del.png");}
    &.ico_boast{background-image:url("../images/ico_boast.png");}
    &.ico_sale{background-image:url("../images/ico_sale.png");}
    &.ico_sale2{background-image:url("../images/ico_sale2.png");}
    &.ico_skin_use{background-image:url("../images/ico_skin_use.png");}
    &.ico_guarantee{background-image:url("../images/ico_guarantee.png");}
    &.ico_like_vio{background-image:url("../images/ico_like_vio.png");}
    &.ico_reply{background-image:url("../images/ico_reply.png");}
}

.ico_snsitem_vlist{
    text-align: center;
    > li{
        padding-bottom:rem(33.33333333333333);
        &:last-of-type{padding-bottom:0;}
    }
}
.ico_snsitem{
    &:before{display:block;content:'';width:rem(40);height:rem(30);background-repeat:no-repeat;background-size:100% auto;background-position:0 0;margin:0 auto;}
    &.ico_kakao:before{background-image:url("../images/ico_kakao.png");}
    &.ico_insta:before{background-image:url("../images/ico_insta.png");}
    &.ico_face:before{background-image:url("../images/ico_face.png");}
    &.ico_url:before{background-image:url("../images/ico_url.png");}
}
.snsitem_text{color:#000;display:block;text-align: center;font-size:rem(13.33333333333333);line-height:1;margin-top:rem(13.33333333333333)}

input.form_input{border:0;border-bottom:1px solid #ddd;height:rem(45);padding:0 rem(12.66);line-height:1;width:100%;box-sizing: border-box;font-size:rem(13.33333333333333);color:#000;
    &.align2{text-align: center;}
    &.align3{text-align: right;}
}

input.form_input::-webkit-input-placeholder{color:#000;opacity: 0.5;}
input.form_input::-moz-input-placeholder{color:#000;opacity: 0.5;}
input.form_input:-ms-input-placeholder{color:#000;opacity: 0.5;}
input.form_input::-ms-input-placeholder{color:#000;opacity: 0.5;}
input.form_input::input-placeholder{color:#000;opacity: 0.5;}

.props_form_item{font-size:0;line-height:0;display:inline-flex;align-items: center;
    &.dtype2{
        input.props_form{
            background-image:url("../images/ico_chk3.png");border-color:transparent;
            &:checked{}
        }
        .props_label{font-weight: 300;font-size: 12px;}
    }
}
input.props_form{
    display:inline-block;vertical-align:middle;cursor:pointer;flex:0 0 rem(22.66);width:rem(22.66);height:rem(22.66);background:url("../images/ico_chk2.png") no-repeat 0 0/100% auto;border:1px solid #b7b7b7;border-radius:100%;appearance: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;
    &:checked{background-position:0 100%,0 0;
        border: 1px solid transparent;
        background-image: url("../images/ico_chk.png"), 
        linear-gradient(to right, #B754C4 0%,  #3F4BFF 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
}
.btn_inlinebox{display:inline-block;height:rem(35);color:#fff;box-sizing: border-box; min-width:rem(90);text-align: center;white-space: nowrap;
    background-image: linear-gradient(to right, #B754C4 0%,  #3F4BFF 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.btn_inlinebox_text{padding:0 rem(15);display:inline-block;font-weight: 350;font-size:rem(11.33);line-height:1;}
.props_label{display:inline-block;font-size:rem(13.33);line-height:1;color:#000000;margin-left:rem(8.33);cursor:pointer;}

.view_title_row{padding:rem(30) rem(20) rem(15)}
.view_title_count{
    font-weight: 500;font-size: rem(20);line-height:1;display:inline-block;
    background: linear-gradient(93.54deg, #B754C4 6.24%, #3F4BFF 97.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;

    // background: linear-gradient(to right, #fbcac9, #8ca6ce);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent
}
.view_title_main{font-weight: 300;font-size: rem(20);line-height:1.3;margin-top:rem(5);}
.viewform_data_item_group{}
.viewform_data_item{
    border-bottom:1px solid #ccc;padding:rem(26.66666666666667) 0;
    &:first-of-type{padding-top:0}
    &:last-of-type{border-bottom:0;padding-bottom:0;}
}
.view_proitem_row{background: #F7F7F7;display:flex;padding:rem(13.33333333333333) rem(20)}
.view_prothum{
    flex:0 0 rem(116.6666666666667); box-sizing: border-box;width:rem(116.6666666666667);height:rem(116.6666666666667);position:relative;border:1px solid #CCCCCC;box-sizing:border-box;
    > img{display:block;width:100%;height:100%;position:absolute;top:0;left:0;width:100%;object-fit: cover;object-position: 50% 50%;}
}
.view_prospec{margin:0 0 0 rem(16.66666666666667);flex:1;min-width:0;color:#000;}
.prospec_brand{font-weight: 500;font-size: rem(13.33333333333333);word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.prospec_item{font-weight: 350;margin-top:rem(5);font-size: rem(13.33333333333333);word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height:1.3;}

.item_data_form_row{margin:rem(26.66666666666667) rem(20) rem(16.66666666666667);position:relative;}
textarea.item_data_ta{vertical-align: top;box-sizing: border-box;width:100%;overflow:hidden;position:relative;z-index:2;resize: none;background: #FFFFFF;font-size:rem(13.33333333333333);border: 1px solid #999999;padding:rem(13.33333333333333);color:#000;height:rem(47.6)}
.hidden_data_ta{opacity:0;position:absolute;top:0;left:0;vertical-align: top;box-sizing: border-box;width:100%;background: #FFFFFF;font-size:rem(13.33333333333333);border: 1px solid #999999;padding:rem(13.33333333333333);color:#000;}
.form_vitem_group{padding:0 rem(20) 0}
.form_vitem{
    margin-bottom:rem(25);
    &:last-of-type{margin-bottom:0;}
}
.form_vlabel_row{margin-bottom:rem(10);line-height:0;font-size:0;}
.form_vlabel{font-size:rem(13.33333333333333);line-height:1;display:inline-block;color:#000;}
.form_vform_row{}
.input_multi_item{border-bottom:1px solid #b3b3b3;display:flex;align-items: center;}
input.inline_input{border:0;height:rem(43.33333333333333);flex:1;min-width:0;padding:0 rem(13);line-height:1;width:100%;box-sizing: border-box;font-size:rem(13.33333333333333);color:#000;
    &.number{text-align: right;}
}
.inline_unit{flex:0;white-space: nowrap;font-size:rem(13.33333333333333);color:#000;line-height:1;}

.btn_select_call{
    border-bottom:1px solid #b3b3b3;display:flex;align-items: center;min-height:rem(43.33333333333333);text-align:right;justify-content:flex-end;box-sizing:border-box;padding:rem(10) 0;
    &:after{
        display:block;content:'';width:0;height:0;border:rem(6.666666666666667) solid transparent;border-top-color:#000;opacity:.6;margin-bottom:rem(-6.666666666666667);margin-left:rem(13.33333333333333);
    }
}
.select_call_text{font-size:rem(13.33333333333333);color:#000;line-height:1;}

.both_list_wrap{
    display:flex; min-width:0;
    .short_cell{flex:0 0 rem(116.6666666666667);margin-top:rem(-16.66666666666667)}
    .long_cell{flex:1;margin-left:rem(33.33333333333333);min-width:0;}
}
.btn_sortbox_group{width:rem(116.6666666666667);position:sticky;top:0;left:0;padding-top:rem(16.66666666666667)}
.btn_sortbox{
    display:block;border:1px solid rgba(0,0,0,.3);text-align:center;font-size:0;line-height:0;padding:rem(10);margin-bottom:rem(16.66666666666667);position:relative;
    &:after{display:block;content:'';width:calc(100% + 2px);height:calc(100% + 2px);box-sizing: border-box;position:absolute;top:-1px;left:-1px;
        border:2px solid transparent;
    }
    &:last-of-type{margin-bottom:0;}
    &.active{
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        &:after{border-image: linear-gradient(93.54deg, #B754C4 6.24%, #3F4BFF 97.06%);
        border-radius: 50%;
        border-image-slice: 1;}
    }
}
.sortbox_label,
.sortbox_value{margin:0 rem(1);font-size:rem(13.33333333333333);color:#000;line-height:1;display:inline-block;}
.sortbox_label{}
.sortbox_value{font-weight:500;}

.proitem_list{
    > li{
        padding-bottom:rem(20);margin-bottom:rem(20);border-bottom:1px solid #999999;
        &:last-of-type{border-bottom:0;padding-bottom:0;margin-bottom:0}
        &.nodata_li{
            padding:rem(70) rem(15); box-sizing: border-box;
            .nodata_para{
                font-size:rem(13.33333333333333);
            }
        }
    }
}
.proitem{
    &:last-of-type{}
}
.prothum_row{position:relative;}
.prothum{
    position:relative;padding-bottom:100%;height:0;display:block;
    > img{display:block;width:100%;height:100%;position:absolute;top:0;left:0;width:100%;object-fit: cover;object-position: 50% 50%;}
}
.proicon_layer{
    background: #FFFFFF;border-radius: rem(10) 0px 0px 0px; position:absolute;bottom:0;right:0; display:flex;align-items:center;padding:rem(6.666666666666667) rem(9);
    .ico_menu{margin-right:rem(13.33333333333333);
        &:last-of-type{margin-right:0;}
    }   
}
.prospec_row{margin-top:rem(12);display:block;}


.intro_layer{position:fixed;top:0;left:0;width:100%;height:100%;display:flex;align-items: center;justify-content: center;font-size:0;line-height:0;}
img.intro_logo{max-width:157px;}

.logo_copy_item{}
.logo_img_row{
    text-align: center;
    > img{vertical-align: top;max-width:rem(216.3333333333333)}
}
.logo_btn_row{
    margin-top:rem(26.66666666666667);line-height:0;font-size:0;
}
.logo_chk_row{
    margin-top:rem(13.33);
    .props_form_item{vertical-align: top;}
}
.btn_submitbox{
    display:block;height:rem(50);
    background: linear-gradient(93.54deg, #B754C4 6.24%, #3F4BFF 97.06%);display:flex;align-items: center;justify-content: center;font-size:0;line-height:0;
}
.submitbox_text{display:block;line-height:1;text-align:center;color:#fff;font-weight: 350;font-size:rem(16);}
.sns_group_zone{

    .btn_row{padding:rem(40) rem(80) 0;}
}
.sns_label{display:block;text-align:center;font-size:rem(13.33);line-height:1;margin-bottom:rem(16.66)}
.sns_hor_list{
    display:flex;justify-content:center;align-items:center;line-height:0;
    > li{
        padding: 0 rem(6.66);
    }
}
.sns_item{
    display:inline-block;width:rem(50);height:rem(50);border-radius:100%;background:#e8e8e8 url("../images/ico_sns.png") no-repeat 0 0/100% auto;
    &.sns_kakao{background-position:0 0;}
    &.sns_naver{background-position:0 33.33%;}
    &.sns_face{background-position:0 66.66%;}
    &.sns_google{background-position:0 100%;}
}
.btn_linebox{display:flex;align-items:center;justify-content:center;font-size:0;line-height:0;border-radius: rem(200);height:rem(50);max-width:rem(200);margin:0 auto;
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, #B754C4 0%,  #3F4BFF 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.linebox_text{display:inline-block;font-weight: 350;font-size: 15px;line-height: 1;color: #111111;}

.vertical_form_group{width:100%;}
.vertical_form{
    margin-top:rem(30);
    &:first-of-type{margin-top:0;}
}
.vform_label{display:block;font-size:rem(13.33);line-height:1;color:#000;margin-bottom:rem(10);}
.vform_cont{
    &.dtype2{display:block;position:relative;overflow-y:auto;max-height:rem(225);margin:0 rem(-20) rem(-40);padding:0 rem(20)}
}
.form_element_group{
    border-bottom:1px solid #b3b3b3; display:flex;align-items:center;
    &.active{border-bottom-color:#000;}
    &.warn{border-bottom-color:#E4064F !important;}
    input.form_input{flex:1;min-width:0;border:0;}
    > [class^="btn_"]{display:inline-block;background-repeat:no-repeat;background-size:100% auto;background-position: 0 0;}
}
.form_time_text{color:#E4064F;font-size:rem(13.33);display:inline-block;line-height:1;flex:0;white-space: nowrap;margin:0 rem(10);}
.form_warn_text{color:#E4064F;margin-top:rem(8);font-size:rem(11.33);}
.form_copy_text{color:#000;margin-top:rem(8);font-size:rem(11.33);}

.form_input_each_group{flex:1;display:flex;align-items: center;justify-content:center;
    > input.form_input{width:rem(14);padding:0; flex:0 0 rem(14); text-align: center;
        &::-webkit-input-placeholder{color:#ccc;opacity:1;}
        &::-moz-input-placeholder{color:#ccc;opacity:1;}
        &:-ms-input-placeholder{color:#ccc;opacity:1;}
        &::-ms-input-placeholder{color:#ccc;opacity:1;}
        &::input-placeholder{color:#ccc;opacity:1;}
    }
}
.form_input_text{font-size:rem(13.33);display:inline-block;line-height:1;color:#ccc}
.btn_search{width:rem(21.33);height:rem(21.33);background-image:url("../images/ico_search.png");flex:0 0 rem(21.33);}
.btn_qr{width:rem(19.33);height:rem(19.33);background-image:url("../images/ico_qr.png");flex:0 0 rem(19.33);}
.form_element_else{display:inline-block;text-align: center;flex:0 0 rem(12);white-space: nowrap;height:rem(1);width:rem(12);margin:0 rem(15);background:rgba(0,0,0,.5)}
.result_boxitem{
    display:flex;background:#E8E8E8;align-items: center;padding:rem(16.66) rem(20);margin-bottom:rem(10);
    &.dtype2{
        padding:0;background:#fff;
        &:last-of-type{margin-bottom:rem(10);}
        border: 1px solid #b3b3b3;
        > *{padding:0 rem(20);
            &:first-of-type{padding-top:rem(16.66);}
            &:last-of-type{padding-bottom:rem(16.66);}
        }
        .result_sig_cols{
            
        }
        .result_sub_cols{
        
        }
        &.active{
            border: 1px solid transparent;
            background-image: linear-gradient(#fff, #fff), 
            linear-gradient(to right, #B754C4 0%,  #3F4BFF 100%);
            background-origin: border-box;
            background-clip: content-box, border-box;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
        }
    }
    &:last-of-type{margin-bottom:0}
}
.result_sig_cols{flex:1;min-width:0;}
.result_sub_cols{
    flex:0;margin-left:rem(15);
    .btn_textcontrol{}
}

.result_sig_main{font-weight: 350;font-size: rem(14.66);line-height:1.3;}
.result_sig_sub{color: #000000;opacity: 0.7;font-size:rem(12);font-weight:300;margin-top:rem(5);}
.btn_textcontrol{display:inline-block;white-space: nowrap;color:#000;text-decoration: underline;font-size:rem(11.33)}

.form_guide_wrap{font-size:rem(11.33);line-height:1.3;margin-top:rem(20)}
.form_guide_title{color:#000;}
.form_guide_cont{margin-top:rem(8.33)}
.form_guide{
    font-weight: 300;
    strong{color:#000;font-weight: 400;}
}

.result_data_group{margin-top:rem(20)}
.result_data_label{color:#000;line-height:1;font-size:rem(14.66);margin-bottom:rem(10);}

.result_data_cont{display:block;position:relative;overflow-y:auto;max-height:rem(225);margin:0 rem(-20) rem(-40);padding:0 rem(20)}

.mid_copy_group{display:block;text-align: center;
    &.type2{margin-bottom:rem(26);}
}
.mid_copy_title{color:#000;line-height:1;font-size:rem(20);}
.mid_copy_sub{margin-top:rem(11.66);line-height:1.3;}
.mid_copy_sub_2{margin-top:rem(32);line-height:1.3;font-size:rem(12)}
.mid_copy_design_obj{background:#000;opacity:0.5;width:1px;height:rem(66);margin:rem(20) auto;
    &.type2{margin:rem(40) auto}
}
.img_data_cont_wrap{}
.img_data_row{
    display:flex;align-items:center;justify-content:center;width:rem(192.33);height:rem(192.33);background:#F7F7F7;margin:0 auto;
    > img{width:rem(111.66);height:rem(111.66);}
}
.img_data_qr{}
.img_data_guide{color:#000;font-size:rem(14.66);margin-top:rem(20);text-align: center;}

.boxprops_list_wrap{}
.boxprops_list{
    display:flex;flex-wrap:wrap;min-width:0;font-size:0;line-height:0;margin:rem(-3.33);
    &.type2{
        display:block;margin:0;
        > li {margin-top:rem(10);width:auto;padding:0;
            .boxprops_label_text{font-size:rem(12);padding:rem(18);}
            input.boxprops:checked + .boxprops_label{
                .boxprops_label_text{}
            }
            &:first-of-type{margin-top:0;}
        }
    }
    > li{position:relative;flex:0 0 33.3333333%;box-sizing: border-box;width:50%;padding:rem(3.33);}
}

input.boxprops{display:block;width:0;height:0;opacity:0;appearance: none;-webkit-appearance: none;box-sizing: content-box;position:relative;overflow: hidden;}
.boxprops_label{position:relative;cursor:pointer;z-index:1;width:100%;height:100%;position:relative;box-sizing: border-box;border:1px solid #d9d9d9;text-align: center;display:flex;align-items: center;justify-content: center;}

.boxprops_label_text{display:inline-block;color:#000;font-size:rem(11.33);line-height:1;padding:rem(11.5);position:relative;z-index:1;}
input.boxprops:checked + .boxprops_label{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    &:before{
        border: 2px solid transparent;
        background-image: linear-gradient(#fff, #fff), 
        linear-gradient(to right, #B754C4 0%,  #3F4BFF 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        display:block;content:'';width:calc(100% + 2px);height:calc(100% + 2px);box-sizing: border-box;position:absolute;top:-1px;left:-1px;
    }
}

.vform_initem_group{margin-top:rem(16.67)}
.vform_initem{
    margin-top:rem(5);
    &:first-of-type{margin-top:0}
}

.form_topcopy{color:#000000;font-size:rem(13.33);line-height:1.3;margin-bottom:rem(18)}

.agree_props_zone{}
.agree_total_low{
    margin-bottom:rem(17);line-height:0;
    .props_form_item{vertical-align: top;}
}
.agree_detail_low{}
.agree_detail_list{
    line-height:0;
    > li{
        margin-bottom:rem(7); display:flex;align-items:center;justify-content:space-between;
        &:last-of-type{margin-bottom:0;}
        .props_form_item{vertical-align: top;}
    }
}
.btn_props_tail{
    display:inline-block;width:rem(22.66);height:rem(22.66);position:relative;left:rem(5);
    &:after{
        display:block;content:'';width:rem(6.5);height:rem(6.5);border-left:rem(1) solid #4d4d4d;border-bottom:rem(1) solid #4d4d4d;position:absolute;top:rem(8);left:rem(5);transform: translateZ(0) rotate(225deg);
    }
}

.term_intro_group{font-size:rem(14.66);color:#000;}
.term_intro_para{
    margin-bottom:rem(10);
    &:last-of-type{margin-bottom:0;}
}

.term_menu_group{margin-top:rem(25);}
.term_menu_title{margin-bottom:rem(6);font-size:rem(14.66);color:#000;font-weight:500;line-height:1;}
.term_menu_list{
    > li{
        margin-bottom:rem(5);
        &:last-of-type{margin-bottom:0;}
    }
}
.term_menu{font-size:rem(14.66);color:#000;display:inline-block;}

.term_cont_group{margin-top:rem(30);padding-top:rem(30);border-top:1px solid #ddd;}
.term_cont{
    margin-bottom:rem(25);
    &:last-of-type{margin-bottom:0;}
}
.term_ctitle{font-size:rem(14.66);color:#000;margin-bottom:rem(6);font-weight:500;}
.term_cmain{}

.ico_useguide_list_wrap{text-align: center;}
.ico_useguide_list{
    display:inline-block;text-align:left;
    > li{
        &:last-of-type{}
    }
}

.ico_useguide_list_wrap{}
.ico_useguide_list{
    > li{
        margin-bottom:rem(15);
        &:last-of-type{margin-bottom:0;}
    }
}
.ico_useguide{
    display:flex;align-items:center;
    &:before{display:block;content:'';width:rem(50);height:rem(50);flex:0 0 rem(50);border-radius:100%;background: rgba(0, 0, 0, 0.1) url("../images/ico_use.png") no-repeat 0 0/100% auto;}
    &.ico_01:before{background-position:0 0;}
    &.ico_02:before{background-position:0 33.3333333%;}
    &.ico_03:before{background-position:0 66.6666666%;}
    &.ico_04:before{background-position:0 100%;}
}
.useguide_text_group{margin-left:rem(20);}
.useguide_text_main{color: #000000;line-height:1;font-size:rem(13.33);}
.useguide_text_sub{color: #000000;opacity: 0.5;line-height:1.3;font-size:rem(11.33);margin-top:rem(7);font-weight:300;}

.app_guide_group{}
.app_banner_wrap{}
.app_banner{
    display:block;line-height:0;background-color:rgba(0,0,0,.5);text-align:center;margin-bottom:rem(13.33);padding:rem(20);
    > img{vertical-align: top;max-width:rem(137.33);}
    &:last-of-type{margin-bottom:0;}
}
.app_banner_copy{display:block;color:#000;font-size:rem(12);text-align: center;margin-top:rem(20);}



.view_item_wrap{}
.view_item_title{font-weight: 300;font-size:rem(20);line-height:1;}
.view_item_content{
    background: #F7F7F7;margin:rem(13.33) rem(-20) 0;padding:rem(13.33);
    .skin_item{max-width:41.944vw;margin:0 auto;}
}
.view_else_wrap{
    padding:rem(26.66) 0 0 0;
    .item_data_form_row{margin:0}
    .vertical_form_group{margin-top:rem(16.66)}
}

.boxgrid_item_list_wrap{
    margin:rem(50) auto 0;
    max-width:rem(320);
    &.type2{
        .boxgrid_item_list{justify-content:flex-start;}
    }
}
.boxgrid_item_list{
    display:flex;flex-wrap:wrap;margin:rem(-7.77);justify-content:center;
    > li{
        box-sizing: border-box;flex:0 0 50%;width:50%;padding:rem(7.77);
        display:flex;flex-direction: column;
        &.active{display:flex !important;}
    }
}

.boxgrid_item{
    flex:1;border: 1px solid #999999;box-sizing:border-box;height:0;position:relative;
    &.current_end{
        .boxgrid_title{}
        .boxgrid_ico{
            &:before{background-image:url("../images/ico_circhk_big.png");width:rem(40);height:rem(40);}
        }
    }
}
.boxgrid_title{color:#000;font-size:rem(13.33);line-height:1.5;display:block;padding:rem(20) rem(20) rem(90.3);}
.boxgrid_ico{
    text-align:right;position:absolute;bottom:0;left:0;width:100%;box-sizing:border-box;padding:0 rem(20) rem(20);
    &:before{display:inline-block;content:'';width:rem(47.66666666666667);height:rem(48.33333333333333);vertical-align:top;background-repeat:no-repeat;background-size:100% auto;background-position:0 0;}
    &.ico_01:before{background-image:url("../images/ico_boxback.png");}
    &.ico_02:before{background-image:url("../images/ico_boxdata.png");}
    &.ico_03:before{background-image:url("../images/ico_boximg.png");}
    &.ico_04:before{background-image:url("../images/ico_boxqr.png");}
    &.ico_05:before{background-image:url("../images/ico_boxserial.png");}
}
.btn_boxgrid_else_wrap{
    text-align: center;margin-top:rem(11);
    .text_control_item{}
}
.text_control_item{display:inline-block;font-size:rem(12);color:#000;line-height:1;text-decoration: underline;}

.copy_hitem_group{display:flex; align-items: center;
    > .btn_linebox{flex:0;white-space: nowrap;margin-left:rem(20);
        .linebox_text{padding:0 rem(30);}
    }
}
.copy_hitem_text_g{
    flex:1;
    > .btn_linebox{}
}
.copy_htext_main{font-size:rem(14.66);line-height:1.3;}
.copy_htext_sub{font-size:rem(12);color: #000000;opacity: 0.5;margin-top:rem(5);}

.info_message_group{margin-top:rem(30);}
.info_message_title_wrap{
    
}
.info_message_title{font-size:rem(13.33);line-height:1;color:#000;display:flex;align-items:center;
    &:before{display:block;content:'';width:rem(16.66);height:rem(16.66);margin-right:rem(6.66);background:url("../images/ico_grainfo.png") no-repeat 0 0/100% auto;flex:0 0 rem(16.66);}
}
.info_message_cont{
    background:#F7F7F7;margin:0 rem(-20);padding:rem(20) rem(33.33);margin-top:rem(14.66);
    .indent_item_list{}
}
.indent_item_list{
    font-size:rem(13.33);color:#000;
    > li{
        display:flex;margin-bottom:rem(10);
        &:last-of-type{margin-bottom:0;}
    }
}
.indent_bullet{flex:0;white-space: nowrap;margin-right:rem(3)};
.indent_content{flex:1;}
.indent_parawrap{
    .ico_qus{}
}
.indent_para{}
.ico_qus{display:inline-block;background:url("../images/ico_qus.png") no-repeat 50% 50%/100% auto;width:rem(12);height:rem(12);border:rem(1) solid #999;border-radius:100%;vertical-align: middle;position:relative;top:rem(-1)}


.btn_linebox_top_row{
    margin-bottom:rem(40);
    .btn_linebox{}
}

.btn_bottomsubmit_wrap{
    .btn_vsubmit{height:rem(56.6);}
}

.finish_guide_zone{width:100%;}
.finish_guide_main{
    .ico_finish{}
}
.ico_finish{
    width:rem(100);height:rem(100);border-radius:100%;margin:0 auto;
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, #B754C4 0%,  #3F4BFF 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position:relative;
    &:after{display:block;content:'';width:rem(55.33);height:rem(39);background:url("../images/only_chk_active.png") no-repeat 0 0/100% auto;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
}
.finish_ment_group{padding:rem(32) rem(20);text-align: center;}

.finish_guide_tail{border-top:1px solid #aeaeae;border-bottom:1px solid #aeaeae;margin:0 rem(20);padding:rem(20) 0;}
.result_tail_list{
    > li{
        color:#000000;font-size:rem(13.33);margin-bottom:rem(8);line-height:1.4;
        display:flex;justify-content:space-between;align-items:center;
        &:last-of-type{margin-bottom:0;}
    }
}
.result_tail_label{font-weight:500;}
.result_tail_data{}

.message_box_row{
    background:#F7F7F7;text-align: center;padding:rem(13.33);font-size:rem(14.66);margin:rem(23) rem(-20) rem(33.33);display:none;
    &.active{display:block;}
}
.message_box_row.active + .boxgrid_item_list_wrap{margin-top:0;}
.mesage_sigpara{
    strong{font-weight: 500;}
}

.skin_list_wrap{}
.skin_list{
    display:flex;flex-wrap:wrap;margin:rem(-18.5) rem(-8.333333333333333);
    > li{
        width:50%;box-sizing:border-box;padding:rem(18.5) rem(8.333333333333333);flex:0 0 50%;
        &.nodata_li{
            .nodata_para{
                padding:rem(100) rem(20);
            }
        }
    }
}
.skin_item{
    display:block;position:relative;
    border: 1px solid #CCCCCC;border-radius: rem(3.333);height:60.000vw;background-repeat:no-repeat;background-size:cover;background-position:0 0;
    &:hover{box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);}
}
.skin_layer{position:absolute;top:-1px;right:-1px;font-size:0;line-height:0;}
.skin_label{font-weight:300;line-height:1;font-size:rem(13.33);display:inline-block;border-radius: 0 rem(3.333) 0 0;background:rgba(0,0,0,.5);text-align: center;color:#fff;min-width:rem(56.66);box-sizing: border-box;padding:rem(5)}


.flow_menu_list_wrap{
    &::-webkit-scrollbar {display:none;width:0;}
    margin:0 rem(-20);
    position:relative;overflow-x:auto;overflow:overlay;
}
.flow_menu_list{
    display:flex;align-items:center;padding:0 0 0 rem(20);height:rem(56.66);
    > li{
        padding:0 rem(6.66);
        &:first-of-type{padding-left:0}
        &:last-of-type{padding-right:rem(20)}
        &.active{
            .flow_menu{
                font-weight: 500;line-height:1;display:inline-block;opacity:1;
                background: linear-gradient(93.54deg, #B754C4 6.24%, #3F4BFF 97.06%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }
}
.flow_menu{display:inline-block;font-weight: 200;font-size: rem(16); white-space:nowrap;color: #000000;opacity: 0.5;}
.list_viewer_wrap{display:flex;justify-content: flex-end;align-items: center;margin-bottom:rem(16.66);

    .btn_list_viewer{
        margin-right:rem(13.33333333333333);
        &:last-of-type{margin-right:0;}
    }
}

.btn_list_viewer{
    display:block;width:rem(21.66666666666667);height:rem(21.66666666666667);background-repeat:no-repeat;background-size:100% auto;background-position: 0 0;
    &.active{background-position:0 100%;}
    &.view_big{background-image:url("../images/ico_view01.png");}
    &.view_small{background-image:url("../images/ico_view02.png");}
}
.gallery_list_wrap{
    &.type2{
        .gallery_list{
            margin:rem(-8.333333333333333) rem(-8.333333333333333) rem(-40);
            > li {flex-basis: 50%;box-sizing: border-box;padding:rem(8.333333333333333) rem(8.333333333333333) rem(40);margin-bottom:0;}
        }
        .pro_spec_ico_group{display:none;}
        .pro_spec_else_row{display:block;}
        .pro_spec_date_row{margin-top:rem(10)}
        .pro_spec_date{font-size:rem(11.33)}
        .pro_spec_title{font-size:rem(13.33);}
        .pro_spec_title_row{margin-top:rem(6.66)}
        .pro_spec_label{font-size:rem(11.33);padding:rem(7) rem(10);}
        .gallery_thum{padding-bottom:132.967032967033%;}
    }
    .pro_spec_title{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3}
}
.gallery_list{display:flex;flex-wrap:wrap;
    > li{flex:0 0 100%;margin-bottom:rem(60);
        &.nodata_li{padding:rem(100) rem(20) !important;}
    }
}
.gallery_item{display:block;}
.gallery_thum{
    position:relative;padding-bottom:143.75%;display:block;height:0;box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    > img{display:block;width:100%;height:100%;position:absolute;top:0;left:0;object-fit: cover;object-position: 50% 50%;}
}
.gallery_spec_group{
    margin-top:rem(20);
     > *{}
}
.gallery_spec_label_row{}
.gallery_spec_label{}
.gallery_spec_title_row{}
.gallery_spec_title{}
.gallery_spec_date_row{margin-top:rem(12);}
.gallery_spec_date{}
.gallery_spec_else_row{}
.icon_menu_list{
    display:flex;align-items:center;
    > li{
        margin-right:rem(13.33);
        &:last-of-type{margin-right:0;}
        &.nodata_li{
            .nodata_para{}
        }
    }
}

.pro_spec_else_row{display:none;margin-top:rem(16.66);}
.pro_spec_date_row{margin-top:rem(12);}
.pro_spec_date{color: #999999;line-height:1;display:block;font-size:rem(13.33);}

.emp_box_item{
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, #B754C4 0%,  #3F4BFF 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    &.top_pos{}
    &.message_item{margin-top:rem(30);display:none;
        &.active{display:block;}
        .emp_box_fxwrap{padding:rem(16.66);}
    }
}
.emp_box_fxwrap{display:flex;align-items: center;padding:rem(13.33) rem(16.66);font-size:0;line-height:0;}
.emp_box_cell{
    margin-right:rem(10);
    &.define_ico{
        fleX:0;margin-right:rem(10);
        .ico_menu{}
    }
    &.define_main{flex:1;min-width:0;}
    &.define_else{
        flex:0;
        .btn_textonly{}
    }
    &.define_ico{}
    &.define_message{flex:1;min-width:0;}
    &:last-of-type{margin-right:0;}
}
.alarm_para{color:#000;font-weight: 350;font-size: rem(13.33);display:inline-block;line-height:1.3;}
.emp_box_sig{color: #000000;font-family: 'Pretendard';font-size: rem(13.33);display:inline-block;line-height:1;}
.emp_box_sub{
    font-family: 'Pretendard';font-size: rem(13.33);color: #999999;display:inline-block;line-height:1;margin-left:rem(6.66);
}
.btn_textonly{
    display:inline-block;white-space:nowrap;line-height:1;color:#000;font-size:rem(13.33);font-weight: 500;
    &.color_cloud{color:#999;}
    &.small{}
    &.color_gray{}
    &.btn_more{}
    &.line_type{}
    &.has_allow{
        position:relative;padding-right:rem(12);
        &:after{
            display:block;content:'';width:rem(6);height:rem(6);border-right:1px solid #000;border-bottom:1px solid #000;position:absolute;top:rem(4);right:0;
            transform: translateZ(0) rotate(-45deg);
        }
    }
}

.detail_pro_item{margin-top:rem(40);}
.pro_spec_label_row{display:flex;align-items: center;justify-content: space-between;}
.pro_spec_label{background:#000;color:#fff;padding:rem(5) rem(10);line-height:1;font-size:rem(13.33);}

.pro_spec_ico_group{}

.pro_spec_title_row{margin-top:rem(7.5)}
.pro_spec_title{color: #000000; font-size:rem(16);word-break:break-all;}

.detail_data_item{margin-top:rem(26.66);}
.detail_data_title_row{margin-bottom:rem(10);}
.detail_data_kind{
    font-size:rem(16);line-height:1;font-weight: 500;
    background: linear-gradient(93.54deg, #B754C4 6.24%, #3F4BFF 97.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.detail_data_title{color: #000000;line-height:1;font-size:rem(16);margin-left:rem(13.33);}
.detail_data_content_row{background:#F6F6F6;padding:rem(13.33);}
.message_data{font-weight: 350;font-size: rem(13.33);color: #000000;line-height:1.5;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;}
.data_control_group{display:block;text-align: right;margin-top:rem(13);font-size:0;line-height:0;}

.detail_data_else_row{display:flex;align-items: center;justify-content: space-between;margin-top:rem(16.66)}
.data_cell_row{
    display:flex;align-items: center;
    > .ico_menu{
        &:last-of-type{}
    }
    &.type2{
        justify-content: flex-end;
        .ico_menu{margin-right:rem(20);
            &:last-of-type{margin-right:0;}
        }
    }
}

.btn_ico_count{
    display:flex;align-items:center;margin-right:rem(13.33);
    .ico_menu{}
}
.ico_count{display:inline-block;color:#999999;font-weight: 350;font-size:rem(11.33);margin-left:rem(3.33);}

.key_column_item_group{
    margin-top:rem(40);
}
.key_column_title_row{display:flex;justify-content: space-between;align-items: flex-end;margin-bottom:rem(12.5)}
.key_column_title{font-size:rem(20);line-height:1;}
.key_column_content_row{
    &.detail_img_regular{
        position:relative;padding-bottom:100%;height:0;box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
        > img{display:block;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;position:absolute;top:0;left:0;}

        .nodata_para_group{
            .nodata_para{}
        }
    }
    &.message_box{background: #F7F7F7; margin:0 rem(-20);text-align: center;padding:rem(13.33)}
    &.chart_box{}
}
.detail_img_layer{position:absolute;top:rem(13.33);right:rem(13.33);z-index:2;}
.text_ing_box{background:#000000;display:inline-block;min-width:rem(45);line-height:1;color:#fff;font-size:rem(13.33);box-sizing: border-box;padding:rem(6) rem(10)}

.key_column_title_else{
    .split_text_group{}
}
.split_text_group{display:inline-flex;align-items: center;font-size:0;line-height:0;color:#000;}
.split_value,
.split_unit{display:inline-block;line-height:1;font-size:rem(16);}
.split_value{}
.split_unit{font-weight:500;margin-left:rem(3);}

.message_para{
    font-size: rem(14.66);font-weight:350;line-height:1.5;
    > strong{font-weight:500;}
}

.onlytext_item_list{
    display:flex;align-items:center;
    > li{
        margin-right:rem(13.33);
        &:last-of-type{margin-right:0;}
        &.active{
            .onlytext_item{opacity:1;font-weight:500;}
        }
    }
}
.onlytext_item{display:inline-block;color: #000000;font-size:rem(16);opacity: 0.5;line-height:1;}

.form_field_wrap{}
.form_title_row{}
.form_title{}
.form_content_row{}
.form_vitem{
    &:last-of-type{}
}

select.form_select{}
input.form_input{}
textarea.form_ta{}

.btn_ico_more{
    &:before,
    &:after{}
    &:before{}
    &:after{}
}

.nodata_para_group{
    .nodata_para{}
}

.mid_notice_box{
}
.ico_count_group{
    .ico_item{}
}
.ico_count_text{}

.list_linkage_form_group{}
.searchfield_group{
    &.list_topsearch{}
    input.search_input{}
    .btn_search_submit{}
}
input.search_input{}
.btn_search_submit{}

.vertical_list_group{
    &.reply_group{}
}
.vertical_list{
    > li{
        &.nodata_li{
            .nodata_para{}
        }
        &:last-of-type{}
    }
}
.list_hor_item{
}
.list_hor_main{
    &.thum_spec_wrap{}
}
.list_hor_thum{
    &.no_img{}
}
.list_hor_spec_g{}
.list_spec_main{}
.list_spec_sub{}
.list_hor_sub{
    .btn_empbox{}
}
.list_spec_text{}
.list_spec_else_group{
    .btn_textonly{}
}
.list_spec_else{}
.btn_empbox{}
.empbox_in{}

.reply_one_item{
}
.reply_two_item_group{}
.reply_two_item{
    &:last-of-type{}
}

.list_textform_g{}
.textform_ta_row{}
textarea.textform_ta{}
.btn_textonly_list{
    > li{
        &:after{}
        &:last-of-type{
            &:after{}
        }
    }
    .btn_textonly{}
}
.tail_data_box_group{}
.tail_data_box{}
.inline_obj_both{}
.inline_obj{
    &:last-of-type{}
}
.define_obj_g{
    &:last-of-type{}
}
.define_obj_dt{}
.define_obj_dd{
    .obj_intext{}
    .btn_textOnly{}
}
.qr_item{
    > img{}
}
.qr_img{}

.define_obj_list{
    .define_obj_g{}
}

.obj_intext{}

.tail_product_row{
    .detail_img_regular{}
}

.tail_product_main{}
.tail_pro_label{}
.tail_pro_name{}


.mid_guide_row{}
.mid_guide_text_g{}
.mid_guide_label{}
.mid_guide_value{}

.tail_qr_wrap{}
.tail_qr_item{

}

.tail_qr{}

.toggle_history_group{}

.btn_toggle_more_row{}
.btn_toggle_more{
    &:before,
    &:after{}
}