
@use "sass:math";

@function rem($value) {
    $remValue: math.div($value, 16) + rem;	
    @return $remValue;
}


@mixin fontTransform {
    transform: skew(.5deg);
}

@mixin clamp($count) {
    word-break:break-all;display: -webkit-box;
    -webkit-box-orient: vertical;-webkit-line-clamp: $count;overflow: hidden;line-height:1.3;
}

@mixin thumnail(){
    display:block;object-fit: cover;object-position: 50% 50%;width:100%;height:100%;position:absolute;top:0;left:0;
}